*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.container{
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile{
    position: relative;
    background-color: black;
    width: 22rem;
    height: 100%;
    overflow: hidden;

}

.notificationBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 8px;
}

.charging{
    bottom: 300px;
    position: relative;
}

.charging > svg{
    width: 250px;
    height: 300px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.charging > svg > circle{
    width: 200px;
    height: 200px;
    stroke: #6185E6;
    stroke-width: 1.5px;
    fill: none;
    /* stroke-dashoffset: 50; */
    transform: translate(50%, 50%) rotate(112deg);
}
.charging > svg > path{
    transform: translateX(-10px);
}
.charging > svg > path:nth-child(9){
    transform: translateX(-14.5px) translateY(2px);
}
.charging > svg > path:nth-child(8){
    transform: translateX(-14.5px) translateY(2px);
}
.charging > svg > path:nth-child(7){
    transform: translateX(-14.5px) translateY(2px);
}
.charging > svg > circle:nth-child(1){
    stroke-width: 2px;
    stroke-dasharray: 618;
}
.charging > svg > circle:nth-child(2){
    stroke-width: 1.5px;
    stroke-dasharray: 579;
}
.charging > svg > circle:nth-child(3){
    stroke-width: 1px;
    stroke-dasharray: 545;
}

.circle{
    height: 175px;
    width: 175px;
    border-radius: 50%;
    background: radial-gradient(circle, transparent 10%, black 50%, #376cff, #df41ff 60%);
    position: absolute;
    transform: rotate(0deg);
    animation: roundAnimate 1.5s linear infinite;
    z-index: 1;
    box-shadow: 2px 0.2px 5px 3px #ff92ff81,
    inset 3px 0px 10px 10px #2961fc81,
    2px 0.4px 5px 2px #000000,
    inset 1px 0.4px 4px 3px #ffffff;
}

@keyframes roundAnimate{
    100%{
        transform: rotate(360deg);
    }
}

.lines{
    width: 36px;
    height: 200px;
    border: 2px solid #6185E6;
    display: block;
    position: absolute;
    margin: auto;
    bottom: -310px;
    border-top: none;
    display: flex;
    align-items: end;
    justify-content: space-around;
    transform: translateX(-2px);
}

.lines .line{
    height: 244px;
    width: 8px;
    opacity: 0.6;
    background: transparent;
}

.lines .line:after{
    content: "";
    position: absolute;
    width: 2.5px;
    border-radius: 50px;
    height: 75px;
    background: linear-gradient(180deg, #ffffff, #1068ffb6, transparent);
    animation: goUp 2s linear infinite;
}

@keyframes goUp{
    0%{
        top: 100%;
    }
    90%{
        top: -28%;
        transform: scale(0.8);
    }
    100%{
        top: -50%;
        transform: scale(0.1);
    }
}


.line:nth-child(1)::after{
    margin-left: -1.5px;
}
.line:nth-child(2)::after{
    animation-delay: 0.8s;
}
.line:nth-child(3)::after{
    animation-delay: 0.4s;
}
.line:nth-child(4)::after{
    margin-left: 2px;
    animation-delay: 0.1s;
}
.line:nth-child(5)::after{
    margin-left: 2.5px;
    animation-delay: 0.7s;
}

.image{
    height: 100%;
    mix-blend-mode: lighten;
    opacity: 0.1;
    
}
.particles{
    position: absolute;
    /* z-index: -1; */
}
.particles > img{
    display: none;
    transform: scale(1) translateX(0.5px);
    opacity: 0;
    animation: pop 0.5s linear infinite;

}

@keyframes pop{
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(3);
        opacity: 0;
    }
}